<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>

    <div id="app">
        <div class="container">
            <div>
                <div class="item" v-if="selectedSlide">
                    <img :src="selectedSlide.image" @mouseover="stopAutoplay" @mouseleave="startAutoplay" />
                    <div class="text">
                        <h3>{{ selectedSlide.title }}</h3>
                        <p>{{ selectedSlide.text }}</p>
                    </div>
                </div>

                <div class="thumbs">
                    <div class="thumb" 
                         v-for="(slide, index) in slides" 
                         :key="index" 
                         @click="selectSlide(index)"
                         :class="{ active: index === selectedSlideIndex }">
                        <img :src="slide.image" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>

</html>